# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dll
*.DS_Store
*.layout

.tags

build/
external/
ignored/
makebuild/

.idea/
.clang_complete
res/map/relief.png
android/android.iml
android/distribution/
android/.gradle/
android/.idea/
android/local.properties
android/app/.cxx
android/app/app.iml
android/app/local.properties
android/app/release
android/app/src/main/assets
android/app/src/main/java/org/libsdl/app
android/keystore.properties
